body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
}
header h1{
    font-size: 1.5em;
}
.container{
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(119, 17, 17);
    color: white;

}
.container .cartContainer{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    /* width: 10rem; */
    gap: 40px;
    padding: 10px 20px;
    background-color:brown;
    border-radius: 20px;

}
.container .cartContainer .itemCount{
    background-color: rgb(129, 31, 31);
    width: 1.8rem;
    padding-left: 0.6rem;
    border-radius: 60%;
}
.mainImage {
    width: 100%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;
  }
  
.mainImage img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    /* transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem); */
    }
